*
{
padding:0;
margin:0;
}
.navbar
{
  height: 60px;
  width: 100%;
  background-color:#F9ECE6;
  animation:slideme .7s ease-in;
}
.nav_links
{
  justify-content: center;
  text-align: center;
}
.nav_links ul
{
 padding-top:15px;
}
.nav_links ul li
{
  margin-left:50px;
  display:inline;
}
a
{ 
 padding:3px;
 text-decoration:none;
 font-size:22px;
 color:black;
}

/* css start for hero banner  */
.hero_banner
{
  height:600px;
  width: auto;
  background-color:#F89CAB;
  display: flex;
  flex-basis:auto;
}
.item1
{
  height: 600px;
  width:1050px;
  gap: 2px;
  animation: slidelefttoright 0.4s ease-in;
}
.item
{
  height: 600px;
  width:600px;
  gap: 2px;
}
.item img
{
  margin-top: 13px;
  margin-left:60px;
}
.item1 h1
{
  font-size:55px;
  text-transform:uppercase;
  color: white;
  padding-top:180px;
  padding-left:100px;
}
.para1
{
  padding-left:100px;
  font-size: 20px;
  color:white;
  text-transform: capitalize;
  width:600px;
}
.but1
{
  padding-left: 100px;
  padding-top: 20px;
}
button
{
  background-color:#DB4566;
  height:50px;
  width: 150px;
  font-size:18px;
  border-style: none;
}
/* css end for hero banner  */


/* css start for thumbnail cards */
.grid_container
{
   padding-top:25px;
   height:850px;
   width:800px;
   /* margin-left:30px; */
   display: grid;
   column-gap: 25px;
   row-gap: 25px;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto; 
}
.grid_item
{ 
  background-color:#EEEEEE;
  height:300px;
  width :300px;
  justify-content: center;
  text-align: center;
  /* border-radius:10px; */
}
.grid_item:hover
{
  box-shadow:10px 10px 10px rgba(190, 190, 190, 0.425);
}
.grid_head2 p
{
  padding-top:20px;
  font-size:40px; 
  font-weight:800;
  text-align:center;
  text-transform:uppercase;
}
.text_wrap
{ 
  margin:10px 0px 5px 10px;
  height:60px;
  width: 60px;
  background-color:white;
  border-radius:50%;
}
.img_wrap img
{
  height:155px;
  width: 110px;
}
.pro_value
{
  display: flex;
  justify-content:space-evenly;
}
.pro_value h6
{
  font-size: 20px;
  color:black;
}



/* code for start from here LIght blue promotional banner */
.grid_container_1
{
   border-radius:20px;
   margin:85px;
   background-color:#7FD7EB;
   height:419px;
   width:auto; 
   display:flex;
   flex-basis:auto;
}
.grid_item1
{
  height:500px;
  width:500px;
}
.grid_item5
{
  margin-top: 20px;
  margin-left: 100px;
  height:500px;
  width:800px;
  gap: 2px; 
}
.grid_item1 img
{
  height:400px;
  width: 500px;
  margin-top:20px;
  margin-left:60px; 
}
.grid_item5 h1
{
  font-size:40px;
  text-transform:uppercase;
  color: white;
  width: 400px;
  padding-top:50px;
  padding-left:40px;
}
.grid_item5 .para1
{
  padding-top: 20px;
  padding-left:40px;
  font-size: 20px;
  color:white;
  text-transform: capitalize;
  width:500px;
}
.button_inline
{
 margin-top: 30px;
 margin-left: 40px;
 height: 60px;

 width:300px;
 display:flex; 
 gap:30px;
}
 .but2 button
{
  background-color:#109DBD;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
.but3 button
{
  background-color:#FFFFFF;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
/* code for ends from here light blue promotional banner */


/* code starts for way to shop with us section */
.grid_container2
{
  box-sizing:border-box;
  height:300px;
  width:auto;
  display:flex;
  flex-wrap: wrap;
  /* gap:10px; */
}
.grid_head
{
  height:80px;
  width: auto;
}
.grid_head p
{
  font-size:40px; 
  font-weight:800;
  text-align:center;
  text-transform:uppercase;
}
.grid_item2
{
  margin-left:70px;
  height:200px;
  width:350px;
}
.card i
{
   padding-top:15px;
  color: #522ae5; 
  font-size:45px; 
  margin-left:140px;
}
.card h3
{
  padding-top:15px;
  text-align: center;
  font-size: 25px;
}
.para2 p
{
  padding-top:15px;
  text-align:center;
  font-size: 18px;
  text-transform:capitalize;
}
/* code ends for way to shop with us section */



/* yellow container start from here*/
.grid_container_3
{
   border-radius:20px;
   margin:33px;
   background-color:#6929A5;
   height:600px;
   width:auto; 
   display:flex;
   flex-basis:auto;
}
.grid_item7 img
{
  height:560px;
  width:460px;
  margin-top:20px;
  margin-left:40px;
}
.grid_item8 h1
{
  font-size:40px;
  text-transform:uppercase;
  color: white;
  width: 400px;
  padding-top:150px;
  padding-left:40px;
}
.para_1 p
{
  padding-top: 20px;
  padding-left:40px;
  font-size: 20px;
  color:white;
  text-transform: capitalize;
  width:600px;
} 
.button_inline_1
{
 margin-top: 30px;
 margin-left: 40px;
 height: 60px;
 width:300px;
 display:flex; 
 gap:30px;
}
.but4 button
{
  background-color:#109DBD;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
.but5 button
{
  background-color:#FFFFFF;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
/* yellow container end from here */




.grid_container4
{
  height:500px;
  width:85%;
  margin-left:100px;
  display:flex;
  box-shadow:10px 10px 10px 1px rgba(206, 205, 205, 0.774);
}
.grid_head1
{
  height:80px;
  width: auto;
}
.grid_head1 p
{
  margin-left:100px;
  font-size:40px; 
  font-weight:800;
  text-transform:uppercase;
}
.class_1
{
  height: 500px;
  width:auto;
  background-color: black;
}
.class_1 iframe
{
  width:600px;
  height:500px;
}
.class_2
{
  height:500px;
  width:645px;
  /* background-color:red; */
}
.class_2 form
{
  box-sizing: border-box;
  margin:65px 0px 0px 30px;
  width: 350px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.class_2 .btn_sub
{
     background-color: rgb(248, 159, 201);
     margin-top:15px;
     margin-left:170px;
     height:40px;
     color: white;
} 
input[type="text"]
{
  width:380px;
  margin:20px;
  height:40px;
  font-size:25px;
}
input[type="email"]
{
  width:380px;
  margin:20px;
  height:40px;
  font-size:25px;
}
input[type="number"]
{
  width:380px;
  margin:20px;
  height:40px;
  font-size:25px;
}






/* footer starts from here */

.foot_body
{
  margin: 20px;
  height:420px;
  width: auto;
  background-color:#2D2D2D;
}
.foot_head 
{
  justify-content: center;
  text-align: center;
  padding-top:30px;
}
.foot_head ul li
{
  display: inline;
  padding: 10px;
}
.foot_block
{
  margin-top:30px;
  display: flex;
  justify-content: center;
  gap:50px;
}
.foot_box
{
  height:250px;
  width: 350px;
}
.box_para
{
  width:255px;
  margin:0px 0px 0px 30px;
  font-size:19px;
}
.but10 button
{
background-color: rgb(248, 159, 201);
margin-top:-12px;
margin-left: 40px;
height:40px;
color: white;
}
.cont_list
{
  height:120px;
  width:250px;

}
.cont_list ul li
{
  font-size:19px;
  font-weight:900;
  color:white;
  text-transform:capitalize;
  list-style:none;
  margin:20px 0px 0px 30px;
}











/* .cont_list
{
  width:300px;
  background-color: red;
  justify-content:center;
} */
/* .cont_list ul
{
  text-align: center;
} */










.bottom_border p
{
justify-content: center;
text-align: center;
padding-top:25px;  
color: whitesmoke;
}
.box_input input[type="text"]
{
 margin-top:10px;   
 height: 40px;
 width: 240px;
 font-size:19px;
}
.but10 input[type="submit"]
{
margin-left:40px;
}















/* footer ends from here */


























/* animation start from here */

@keyframes slideme 
{
  0%
  {
   transform: translateY(-40px);
  } 
  100% 
  {
    transform: translateY(0px);
  } 
}
@keyframes slidelefttoright 
{
  0%
  {
   transform: translateX(-240px);
  } 
  100% 
  {
    transform: translateX(240px);
  }   
}

/* animation end from here */

















































































































































































































































/* 
max-width:481px;
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

/* /* responsive media query  start from here for 320px to 480px* */

@media (min-width:320px) and (max-width:480px)
{

  body
  {
  padding:0;
  margin:0;
  }
  .navbar
 {
   height: 60px;
   width: 100%;
   background-color:purple;
  }
  .nav_links
 {
   justify-content: center;
   text-align: center;
 }
  a
  {
   padding:0px;
   font-size:18px;
  }
  .hero_banner
  {
    height:1050px;
    width:100%;
    background-color:greenyellow;
    display:flex;
    flex-direction:column;
  }
.item1
{
 height:600px;
 width:340px;
 gap:2px;
}
.item1 h1
{
  font-size: 3rem;
  padding: 10px 0px 0px 80px;
}
.para1
{
  padding: 10px 0px 0px 80px;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  width: 320px
}
.item
{
 height: 600px;
 width:150px;
 gap: 2px;
}
.item img
{
  margin-top: 13px;
  margin-left: 100px;
}
.but1 {
  padding-left: 80px;
  padding-top: 20px;
}
button {
  background-color: #DB4566;
  height: 50px;
  width: 150px;
  font-size: 18px;
  border-color: white;
  border-radius:10px;
  border-style:dashed;
}

/* css start for thumbnail cards */
.grid_container
{
  padding-top:25px;
  height:2550px;
  width:100%;
  /* background-color:red; */
  display: grid;
  gap:12px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto; 
}
.grid_item
{ 
  background-color: #EEEEEE;
  height: 292px;
  width: 433px;
  margin:auto;
  text-align: center;
}
.grid_head2 p
{
 padding-top:20px;
 font-size:32px; 
 font-weight:800;
 text-align:center;
 text-transform:uppercase;
}
.text_wrap
{ 
 margin:10px 0px 5px 10px;
 height:60px;
 width: 60px;
 background-color:white;
 border-radius:50%;
}
.img_wrap img
{
 height:155px;
 width: 110px;
}
.pro_value
{
 display:flex;
 justify-content:space-evenly;
}
.pro_value h6
{
 margin-top:30px;
 font-size:16px;
 color:black;
}


/* code for start from here LIght blue promotional banner */
.grid_container_1
{
  border-radius: 20px;
  margin: 30px;
  background-color: blue;
  height: 800px;
  width: 400px;
  display: flex;
  flex-direction: column-reverse;
}
.grid_item1
{
 height:500px;
 width:320px;
 margin-top:10px;
}
.grid_item5
{
  margin-top: 20px;
  margin-left: 40px;
  height: 500px;
  width: 800px;
}
.grid_item1 img
{
  height: 283px;
  width: 350px;
  margin-left: 35px;
  margin-top: 45px;
  padding-top: 65px;
}
.grid_item5 h1
{
 font-size:32px;
 text-transform:uppercase;
 color: white;
 width:310px;
 padding-top:50px;
 padding-left:10px;
}
.grid_item5 .para1
{
 padding-top: 20px;
 padding-left:10px;
 font-size: 20px;
 color:white;
 text-transform: capitalize;
 width:300px;
}
.button_inline
{
margin-top: 30px;
margin-left: 40px;
height: 60px;
width:300px;
display:flex; 
flex-direction: column;
gap:15px;
}
.but2 button
{
 background-color:#109DBD;
 height:50px;
 width: 180px;
 font-size:18px;
 border-style: none;
}
.but3 button
{
 background-color:#FFFFFF;
 height:50px;
 width: 180px;
 font-size:18px;
 border-style: none;
}
/* code for ends from here lIght blue promotional banner */




/* code starts for way to shop with us section */
.grid_container2
{
 /* box-sizing:border-box; */
 height:700px;
 width:433px;
 display:flex;
 flex-direction:column;
 justify-content:center;
 text-align:center;
 gap:10px;
 
}
.grid_head
{
 height:80px;
 width: auto;
}
.grid_head p
{
  margin:15px;
 font-size:32px; 
 font-weight:800;
 width:300px;
 text-align:center;
 text-transform:uppercase;
}
.grid_item2
{
  margin: 0px 0px 0px 10px;
  height: 220px;
  width: 433px;
  justify-content: center;
  border-radius: 5px;
  background-color: #F9F8F7;
}
.card i
{
  padding-top:15px;
 color: #320B57; 
 font-size:45px; 
margin-left: 10px;
}
.card h3
{
 padding-top:15px;
 text-align: center;
 font-size: 25px;
}
.para2 p
{
  margin-left: 75px;
  padding-top: 25px;
  width: 280px;
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}
/* code ends for way to shop with us section */




/* purple container start from here*/
.grid_container_3
{
  border-radius: 20px;
    margin: 15px;
    background-color: red;
    height: 810px;
    width: 433px;
    display: flex;
    flex-direction: column;
}
.grid_item7 img
{
  height: 390px;
  width: 345px;
  margin-top: 40px;
  margin-left: 50px;
}
.grid_item8 h1
{
 font-size:32px;
 text-transform:uppercase;
 color: white;
 width: 300px;
 padding-top:35px;
 padding-left:20px;
}

.para_1 p
{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  width: 395px;
} 
.button_inline_1
{
  margin-top: 10px;
  margin-left: 20px;
  height: 60px;
  width: 300px;
  display: flex;
  flex-direction: row;
  gap: 10px;
gap:10px;
}
.but4 button
{
 background-color:#109DBD;
 height:50px;
 width: 180px;
 font-size:18px;
 border-style: none;
}
.but5 button
{
 background-color:#FFFFFF;
 height:50px;
 width:180px;
 font-size:18px;
 border-style: none;
}
/* purple container end from here */

/* map  */
.grid_head1 p
{
  margin-left: 15px;
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
}

.grid_container4
{
 height:1000px;
 width:100%;
 display:flex;
 flex-direction:column;
 margin-left:0px;
 box-shadow:10px 10px 10px 1px rgba(206, 205, 205, 0.774);
}

.class_1
{
  height: 400px;
  width: 400px;
  margin: 30px;
}
.class_1 iframe
{
  z-index:3;
  height: 400px;
  width: 400px;
}
.class_2
{
  height:500px;
  width:320px;
}
.class_2 form
{
    box-sizing: border-box;
    margin: 5px 0px 0px 38px;
    width: 350px;
    text-align: center;
}
.class_2 .btn_sub
{
  background-color: rgb(248, 159, 201);
  margin-top: 15px;
  margin-left: 160px;
  height: 40px;
  color: white;
}
input[type="text"]
{
  width: 350px;
  margin: 20px;
  height: 40px;
  font-size: 25px;
}
input[type="email"]
{
 width: 350px;
 margin:20px;
 height:40px;
 font-size:25px;
}
input[type="number"]
{
 width: 350px;
 margin:20px;
 height:40px;
 font-size:25px;
}
/* map */










/* footer  */

.foot_body
{
 height:1300px;
 width:auto;
 background-color:#2D2D2D;
}
.foot_head 
{
 justify-content:center;
 text-align:center;
 padding-top:30px;
}
.foot_head ul li
{
 display: inline;
 padding: 10px;
}
.foot_block
{
 display:grid;
 grid-template-columns: auto;
 grid-template-rows: auto auto;
 justify-content: center;
 gap:0px;
}
.foot_box
{
 height:250px;
 width:330px;
}
.box_head h4
{
  color:whitesmoke;
  padding-top:10px;
  font-size:18px;
  width:200px;
  margin-left:28px;
  text-align:center;
}
.box_para
{
 width:255px;
 margin-left:35px;
 font-size:18px;
}
.box_para p
{
   text-align:center;
   width:250px;
}
.but10 button
{
background-color: rgb(248, 159, 201);
margin-top:-12px;
margin-left:60px;
height:40px;
color: white;
}
.cont_list
{
 height:120px;
 width:250px;
 background-color: red;
 margin-left:40px;
}
.cont_list ul li
{
 font-size:19px;
 font-weight:900;
 color:white;
 text-transform:capitalize;
 list-style:none;
 margin:20px 0px 0px 30px;
}
.bottom_border p
{  
text-align: center;
padding-top:5px;  
color: whitesmoke;
}


}

























/* responsive media query  start from here */


@media (min-width:481px) and (max-width:768px)
{
   body
   {
   padding:0;
   margin:0;
   }
   .navbar
  {
    height: 60px;
    width: 100%;
    background-color:#F9ECE6;
   }
   .nav_links
  {
    justify-content: center;
    text-align: center;
  }
   a
   {
    padding:0px;
    font-size:18px;
   }
      .hero_banner
   {
     height:600px;
     width:auto;
     background-color:yellow;
     display: flex;
   }
.item1
{
  height:600px;
  width:400px;
  gap: 2px;
}
.item1 h1
{
 padding-top:60px;
 font-size:48px;
 padding-left:80px;
}
.para1
{
  padding-left:80px;
  font-size: 20px;
  color:white;
  text-transform: capitalize;
  width:400px;
}
.item
{
  height: 600px;
  width:150px;
  gap: 2px;
}
.item img
{
  margin-top: 13px;
  margin-left:60px;
}
.but1
{
  padding: 50px 0px 0px 80px;
}

/* css start for thumbnail cards */
.grid_container
{
  padding-top: 25px;
  height: 930px;
  width: 768px;
  margin-left: 30px;
  display: grid;
  gap: 1px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
}
.grid_item
{ 
  background-color:#EEEEEE;
  height:300px;
  width :220px;
  margin-left:-20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.grid_head2 p
{
  padding-top:40px;
  padding-bottom:30px;
  font-size:32px; 
  font-weight:800;
  text-align:center;
  text-transform:uppercase;
}
.text_wrap
{ 
  margin:10px 0px 5px 10px;
  height:60px;
  width: 60px;
  background-color:white;
  border-radius:50%;
}
.img_wrap img
{
  height:155px;
  width: 110px;
}
.pro_value
{
  display:flex;
  justify-content:space-evenly;
}
.pro_value h6
{
  margin-top:30px;
  font-size:16px;
  color:black;
}


/* code for start from here LIght blue promotional banner */
.grid_container_1
{
   border-radius:20px;
   margin:auto;
   background-color:blue;
   height:819px;
   width:740px; 
   display:flex;
   flex-direction:column-reverse;
}
.grid_item1
{
  height:500px;
  width:300px;
}
.grid_item5
{
  margin-top: 20px;
  margin-left: 100px;
  height:500px;
  width:800px;
}
.grid_item1 img
{
  height:400px;
  width: 500px;
  margin-left:60px; 
}
.grid_item5 h1
{
  font-size:40px;
  text-transform:uppercase;
  color: white;
  width: 400px;
  padding-top:50px;
  padding-left:40px;
}
.grid_item5 .para1
{
  padding-top: 20px;
  padding-left:40px;
  font-size: 20px;
  color:white;
  text-transform: capitalize;
  width:500px;
}
.button_inline
{
 margin-top: 30px;
 margin-left: 40px;
 height: 60px;
 width:300px;
 display:flex; 
 gap:30px;
}
 .but2 button
{
  background-color:#109DBD;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
.but3 button
{
  background-color:#FFFFFF;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
/* code for ends from here lIght blue promotional banner */




/* code starts for way to shop with us section */
.grid_container2
{
    height: 250px;
    width: 768px;
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
    margin: auto;
  
}
.grid_head
{
  height: 80px;
  margin: 50px 0px 0px 10px;
  width: auto;
  font-size: 32px;
}
.grid_head p
{
  font-size:40px; 
  font-weight:800;
  text-align:center;
  text-transform:uppercase;
}
.grid_item2
{
  margin: 5px;
  height: 250px;
  width: 200px;
  border-radius:8px;
  background-color: #F9F8F7;
}
.card i
{
   padding-top:15px;
  color: #320B57; 
  font-size:45px; 
margin-left: 10px;
}
.card h3
{
  padding-top:15px;
  text-align: center;
  font-size: 25px;
}
.para2 p
{
  margin: 10px;
  padding-top:15px;
  text-align:center;
  font-size: 18px;
  text-transform:capitalize;
}
/* code ends for way to shop with us section */




/* yellow container start from here*/
.grid_container_3
{
   border-radius:20px;
   margin:33px;
   background-color:#6929A5;
   height:450px;
   width:auto; 
   display:flex;
   flex-basis:auto;
}
.grid_item7 img
{
  height:300px;
  width:260px;
  margin-top:80px;
  margin-left:40px;
}
.grid_item8 h1
{
  font-size:30px;
  text-transform:uppercase;
  color: white;
  width: 300px;
  padding-top:80px;
  padding-left:30px;
}

.para_1 p
{
  padding-top: 20px;
  padding-left:30px;
  font-size:20px;
  color:black;
  text-transform: capitalize;
  width:370px;
} 
.button_inline_1
{
 margin-top:10px;
 margin-left: 30px;
 height: 60px;
 width:300px;
 display:flex; 
 flex-direction: column;
 gap:10px;
}
.but4 button
{
  background-color:#109DBD;
  height:50px;
  width: 180px;
  font-size:18px;
  border-style: none;
}
.but5 button
{
  background-color:#FFFFFF;
  height:50px;
  width:180px;
  font-size:18px;
  border-style: none;
}

/* purple container end from here */

/* map  */
.grid_container4
{
  height:500px;
  width:90%;
  display:flex;
  margin-left:48px;
  box-shadow:10px 10px 10px 1px rgba(206, 205, 205, 0.774);
}
.class_1
{
  height: 500px;
  width:300px;
}
.class_1 iframe
{
  height: 500px;
  width:300px;
}
input[type="text"]
{
  width:300px;
  margin:20px;
  height:40px;
  font-size:25px;
}
input[type="email"]
{
  width:300px;
  margin:20px;
  height:40px;
  font-size:25px;
}
input[type="number"]
{
  width:300px;
  margin:20px;
  height:40px;
  font-size:25px;
}
/* map */










/* footer  */

.foot_body
{
  height:650px;
  width: auto;
  background-color:#2D2D2D;
}
.foot_head 
{
  justify-content: center;
  text-align: center;
  padding-top:30px;
}
.foot_head ul li
{
  display: inline;
  padding: 10px;
}
.foot_block
{
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap:0px;
}
.foot_box
{
  height:250px;
  width:330px;
} 
.box_para
{
  width:255px;
  margin:0px 0px 0px 30px;
  font-size:19px;
}
.but10 button
{
background-color: rgb(248, 159, 201);
margin-top:-12px;
margin-left:20px;
height:40px;
color: white;
}
.cont_list
{
  height:120px;
  width:250px;
}
.cont_list ul li
{
  font-size:19px;
  font-weight:900;
  color:white;
  text-transform:capitalize;
  list-style:none;
  margin:20px 0px 0px 30px;
}
.bottom_border p
{  
 text-align: center;
 padding-top:5px;  
 color: whitesmoke;
}

}

































































/* responsive media query start from here */ 